p{
 	color:blue;
 	font-size:30px;
} 
.listitem {
	color:green;
	font-size:25px;
}
.p1{
	color:orange;
	font-size:1.5em;
}

#background{
	background-color:orange;
	color:white;
}
#bbackground{
	height:10% ;
	width:15%;
	color:green;
	background-color:black;
	border-radius:15px;
}
.trivia{
	color:black;
}
.header{
	height:87px;
	width:500px;
	border:30px solid yellow;
	background: #000099;
	margin-bottom: 40px;
}
.footer{
	height:50px;width:850px;
	border:30px solid yellow;
	background:#000099;
}
.footer{
	color:#009900; 
	font-size:50px;
	text-transform: uppercase; 
}	
.triviaborder{
	height: 22em;
	width: 40em;
	border: 15px double red;
	padding:10px;
	padding-left: 20px; 
}
.list{
	height:7em;
	width:17em;
	border:15px double white;
}
.span{
	font-size:61.25px;
	color:#dd2464;
	border: 15px double red;}
.img{
	height:375px;
	width:300px;
	margin-bottom:15px;
	margin-right: 15px;
	margin-left:2.65px;
}
#div1{
	height:150px;
	width:150px;
	background-color:green;
	display:inline-block;
	position:absolute;
	z-index:2
}
#div2{
	height:150px;
	width:150px;
	background-color:red;
	display:inline-block;
	position:absolute;
	z-index:1;
}
#div3{
	height:150px;
	width:150px;
	background-color:blue;
	display:inline-block;
	position:absolute;
	position:fixed;
	left:25%;
}
#bo{
	height:2048px;
}
#div2{
	position:relative;
	top:1024px
}
#div2{
	position:relative;
	left: 50%;
}
.mov{
	margin-left:10px;
}
.navitem{
	list-style-type:none;
	display:inline;
	padding:1.5em;
}
#navmenu{
	width:500px;
	height:30px;
	margin:auto;
	font-size:25px;
}
a:link{
	color:red;
}
a:visited{
	color:green;
}
a:hover{
	color:blue;
}
a:active{
	color:black;
}


#rightside{
	float:right;
	width:50%;
}
#leftside{
	width:50%;
}
.clearfloat{
	clear:right;
}